body {
    color: black;
}

.Time_Widget {
    width: 500px;
    text-align: center;
    font-size: xx-large ;
    background-color: rgb(228, 205, 162);
    color: black;
    border-radius: 10px;
}

.Weather_widget{
    width: 500px;
    text-align: center;
    font-size: xx-large;
    background-color: rgb(228,205,162);
    color: black;
    border-radius: 10px;
}